<%- include('includes/head.ejs') %>
    <h1 id="principal">Este sitio es de capybaras chidos</h1>
    <p>Tenemos los siguientes capybaras:</p>
    <!--Películas-->
    <br><h3><p>Películas:</p></h3>
    <% if (peliculas.length > 0) { %>
    <div class="row row-cols-1 row-cols-md-2 g-2">
       <% for (let pelicula of peliculas) { %>
       <div class = "row">
           <div class="card mb-3" style="max-width: 540px;">
               <div class="row g-0">
                 <div class="col-md-4">
                   <img src="<%- pelicula.imagen %>" class="img-fluid rounded-start" alt="...">
                 </div>
                 <div class="col-md-8">
                   <div class="card-body">
                     <h5 class="card-title"><%- pelicula.nombre %></h5>
                     <p class="card-text"><%- pelicula.sinopsis %></p>
                     <p class="card-text"><small class="text-muted"><%- pelicula.created_at %></small></p>
                   </div>
                 </div>
               </div>
             </div>
           </div>

       <%} %>  
    
   <br>
    <% } else { %>
        <h1>Ahorita no existe ese id, regresa pronto.</h1>
    <% } %>  
    </div>
    <% if (ultima_pelicula != '') { %>
        <p><b>La última película agregada fue: <%= ultima_pelicula %></b></p>
    <% } %>  
    <br>
    <a href="audioVisual/nuevaPeli"><button type="button" class="btn btn-outline-secondary">Agregar un nueva película</button></a>
    <br><br>
</div>

    
<%- include('includes/foot.ejs') %>