<%- include('includes/head.ejs') %>
    <h1 id="principal">Este sitio es de Artistas y Bandas favoritas </h1><br>
    <p>Tenemos los siguientes TOPS:</p>
    
    <!-- Artistas -->
     <br><p>Artistas:</p>
     <ul class="list-group">
        <% for (let artista of artistas) { %>
            <li class = "list-group-item list-group-item-dark"><%= artista.nombre %></li>
        <%} %>
     </ul>
     <br>
     <% if (ultimo_artista!= '') { %>
        <p><b>El último artista agregado fue: <%= ultimo_artista %></b></p>
    <% } %>
    <br>
     <a href="musica/nuevoArtista"><button type="button" class="btn btn-outline-secondary">Agregar un nuevo Artista</button></a>
     <br><br>
    
     <!-- Bandas -->
     <br><p>Bandas:</p>
     <ul class="list-group">
        <% for (let banda of bandas) { %>
            <li class = "list-group-item list-group-item-dark"><%= banda.nombre %></li>
        <%} %>
     </ul>
     <br>
     <% if (ultima_banda != '') { %>
        <p><b>La última banda agregada fue: <%= ultima_banda %></b></p>
    <% } %>
    <br> 
     <a href="musica/nuevaBanda"><button type="button" class="btn btn-outline-secondary">Agregar una nueva Banda</button></a>
     <br><br>
    </div>

<%- include('includes/foot.ejs') %>